<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ForTodayWidget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Good Biology (TV).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>Good Biology (Watch) (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Good Biology (Watch).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Good Biology(Apple Watch) (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Good Biology(Apple Watch).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Good Biology.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Good BiologyUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GoodBiology.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iBiologySiri.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>iBiologySiriUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>iOSGoodBiologyUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8446582423BD59E200DC316E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844E0D0B2235625200933ABC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C6FC8122061C5100BCE06D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4E5E23021975BE4009C3062</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4E5E26721975DE3009C3062</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4E5E27A21975DE4009C3062</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4E5E28521975DE4009C3062</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
